{% extends "__layout__.html" %}

{% block content %}
<div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead style="font-size: 40px">
                <tr>
                    <th></th>
                    <th>Attribut</th>
                    <th>Wert</th>
                </tr>
            </thead>
            <tbody style="font-size: 20px">
                <tr>
                    <td><span class="glyphicon glyphicon-calendar" style="font-size: 48px"></span></td>
                    <td>Datum<br>Uptime</td>
                    <td>{{ stats['today'] }}<br>{{ stats['uptime'] }}</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-user" style="font-size: 48px"></span></td>
                    <td>Nutzer<br>Rechnername</td>
                    <td>{{ stats['user'] }}<br>{{ stats['node'] }}</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-phone" style="font-size: 48px"></span></td>
                    <td>Distribution<br>Betriebsystem<br>CPU Architektur</td>
                    <td>{{ stats['osname'] }}<br>{{ stats['system'] }}<br>{{ stats['arch'] }}</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-hdd" style="font-size: 48px"></span></td>
                    <td>Freier Speicher</td>
                    <td>{{ stats['freespace'] }} GByte</td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-dashboard" style="font-size: 48px"></span></td>
                    <td>Temperatur<br>Volts<br>Clock</td>
                    <td>{{ stats['temp'] }}<br>{{ stats['volts'] }}<br>{{ stats['clock'] }} MHz</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
